/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.dark {
  --bg-color: rgb(21, 32, 43);
  --main-color: white;
  --twitter-color: #1A8CD8;
  --lightGray-color: #273340;

}

.light {
  --bg-color: rgb(247, 247, 247);
  --main-color: black;
  --twitter-color: #1A8CD8;
  --lightGray-color: #E7E7E8;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  color: var(--main-color);
  transition: 1s;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.menubar {
  /* background-color: green; */
  height: 100vh;
  /* flex: 1; */
  width: 30vw;
  position: sticky;
}

.content {
  /* background-color: red; */
  /* height: 100vh; */
  /* overflow: visible; */
  overflow-y: scroll;
  width: 40vw;
  /* flex: 2; */
  border-left: 2px solid grey;
  border-right: 2px solid grey;

}

::-webkit-scrollbar {
  width: 0;
}

.siderbar {
  /* background-color: purple; */
  height: 100vh;
  /* flex: 1; */
  width: 30vw;
  /* transition: 3s; */
}

/* .siderbar>button { */
/* transition: 5s; */
/* transition-delay: 7s; */
/* transform: 1s; */
/* transform: scale(1.1); */
/* background-color: red; */
/* }  */


.header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* background-color: palevioletred; */
  /* align-items: stretch; */
  align-items: center;
  height: 40px;
  width: 40vw;
  /* justify-content: center; */
  /* width: 700px; */
}

/* .header>span { */
/* padding: 5px;
  padding-top: 8px;
  font-weight: 600;
  font-size: 20px;
} */

.menubar>ul {
  /* color: blue; */
  list-style: none;
}

/* .menubar>ul>li {
} */
.menubar>ul>li>button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 25px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
  border: 1px solid gray;
  font-size: 20px;
  color: var(--main-color);
  background-color: var(--bg-color);
}

.menubar>ul>li>button:hover {
  background-color: var(--lightGray-color) ;
  opacity: 0.8;
}

.menubar>ul>li>button:active {
  /* color: red; */
  font-weight: 600;
}

/* .menubar>ul>li>button {} */

.myProfileContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

}

.profilePhoto {
  width: 60px;
  height: 60px;
  padding: 30px;
  border-radius: 50%;
}

.postInput {
  color: red;
  background-color: transparent;
  border: none;
}

.postInput:focus {
  /* background-color: transparent; */
  /* border: none; */
  outline: none;
  /* color: red; */
}

.postOptions {
  display: flex;
  justify-content: space-around;
}

.postOptions>ul {
  display: flex;
  list-style: none;
}

.postOptions>ul>li {
  cursor: pointer;
  text-decoration: none;
}

.postOptions>button {
  border: none;
  font-weight: bold;
  background-color: var(--twitter-color);
  color: white;
  /* padding: 2px; */
  cursor: pointer;
  border-radius: 50px;
  width: 90px;
}

.tweetBtn {
  border: none;
  font-weight: bold;
  background-color: var(--twitter-color);
  /* padding: 2px; */

  cursor: pointer;
  border-radius: 50px;
  width: 90px;
}

.posts {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.posts>p {
  margin: 0;
  padding: 10px;
}

.actionBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;

}

.actionBtn>i {
  padding: 8px;
  border-radius: 50%;
}

.actionBtn>i:nth-child(2):hover {
  background-color: rgba(36, 240, 18, 0.397);
}

.actionBtn>i:nth-child(3):hover {
  background-color: rgba(236, 10, 67, 0.397);
}

.actionBtn>i:hover {
  cursor: pointer;
  background-color: rgba(10, 100, 236, 0.397);
  /* fill: #1A8CD8; */
}

.postImg {
  width: 500px;
  border: 2px solid grey;
  border-radius: 5%;
  text-align: right;
}



/* sidebar css start */
.siderbar>button {
  margin: 10px;
  padding: 5px;
  height: 40px;
  width: 40px;
  font-size: 25px;
  border-radius: 50%;
  border-style: none;
  border: none;
  background-color: var(--bg-color);
  color: var(--main-color);
  transition: 1s;
  border: 1px solid gray;
}

.siderbar>button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.searchBar{
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 85%; */
  border-radius: 50px;
  background-color:   var(--lightGray-color);
  transition: 1s;



  border: 2px solid red;

}
.searchBar>input {
  padding: 10px;
  width: 75%;
  background-color:  var(--lightGray-color);


  color: var(--main-color);
  transition: 1s;
  border: none;
  outline: none;

}
.userNameDiv{
  display:flex;
  flex-direction: column;
}

@media screen and (max-width: 430px) {
  /* @media only screen and (max-width: 450px) { */
    .menubar{
      /* border-radius: 5px solid red;
      color: red; */
      display: none;
    }
    .siderbar{
      display: none;
      /* color: red; */
      /* visibility: hidden; */
    }
    .header{
      width: 100vw;
    }
    .content {
    width: 100vw;
    }
  }