body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #15202B; */
  color: white;
}
/* @media screen and (max-width: 480px) {
  @media only screen and (max-width: 450px) {
    .menubar{
      border-radius: 5px solid red;
      color: red;
      display: hidden;
    }
  } */